#dd a{
    text-decoration: none;
    font-size: 100px;
    border: 2px solid black;
    padding: 20px;
    color: red;
    position: fixed;
    margin-top: 300px;
    transform: translateX(10px)

}#dd a:hover{
    background-color: red;
    color: black;
    border-radius: 20px;
    transition: 1s;
}